<%= render "devise/shared/error_messages", resource: resource %>
<div class="col-md-6">
  <div class="form-group">
    <label for="account-fn">Gender</label>
    <%= f.select(:gender, ['Male', 'Female', 'Other'], {}, {:class=>"form-control"}) %>
  </div>
</div>
<div class="col-md-6"></div>
<div class="col-md-6">
  <div class="form-group">
    <label for="account-fn">First Name</label>
    <%= f.text_field :first_name, class: "form-control", autofocus: true, autocomplete: "first_name", placeholder: resource.first_name, :required => true %>
  </div>
</div>
<div class="col-md-6">
  <div class="form-group">
    <label for="account-ln">Last Name</label>
    <%= f.text_field :last_name, class: "form-control", autocomplete: "last_name", placeholder: resource.last_name, :required => true %>
  </div>
</div>
<div class="col-md-12">
  <div class="form-group">
    <label for="account-ln">Username</label>
    <%= f.text_field :username, class: "form-control", autocomplete: "username", placeholder: resource.username, :required => true %>
  </div>
</div>
<div class="col-md-12">
  <div class="form-group">
    <label for="account-phone">Age</label>
    <%= f.text_field :age, autocomplete: "age", class: "form-control", type: "number", id: "number-input"%>
  </div>
</div>
<div class="col-md-12">
  <div class="form-group">
    <label for="account-email">E-mail Address</label>
    <%= f.email_field :email, class: "form-control", autocomplete: "email", placeholder: resource.email, :required => true %>
  </div>
</div>

