<div class="container mb-3">
  <div class="row">
    <div class="col-md-3 pb-5"></div>
    <div class="col-md-6 pb-5">
      <%= form_for(resource, as: resource_name, class: "needs-validation wizard", url: password_path(resource_name), html: { method: :post }) do |f| %>        
        <div class="wizard-body pt-2">
          <h3 class="h5 pt-4 pb-2">Forgot your password? </h3>
          <%= render "devise/shared/error_messages", resource: resource %>
            <div class="input-group form-group">
              <div class="input-group-prepend"><span class="input-group-text"><i class="far fa-envelope"></i></span></div>
              <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email"%>
            </div>
        </div>
        <div class="wizard-footer text-right"><%= f.submit "Send me reset password instructions", class: "btn btn-primary"%></div>
        <div class="text-left"><%= link_to "Login", user_session_path, class: "navi-link" %></div>
        <div class="text-left"><%= link_to "Sign Up", new_user_registration_path, class: "navi-link" %></div>
      <% end %>
    </div>
    <div class="col-md-3 pb-5"></div>
  </div>
</div>

