<!-- Page Content-->
<div class="container mb-2">
  <div class="row">
    <!-- Product Gallery-->
    <div class="col-md-6 pb-5">
      <div class="product-gallery">
        <span class="badge badge-danger text-md font-weight-normal">On Sale</span>
        <div class="product-carousel owl-carousel">
          <a data-fancybox="gallery1" data-hash="one"><img src="<%= @item.image_url%>"></a>
        </div>
      </div>
    </div>
    <!-- Product Info-->
    <div class="col-md-6 pb-5">
      <div class="product-meta">
        <i class="fas fa-bookmark"></i><a>Categories: </a><a href="#"><%= Breed.find(@item.breed_id).name %></a>
      </div>
      <h2 class="h3 font-weight-bold"><%= @item.title %></h2>
      <h3 class="h4 font-weight-light"><%= @item.price.to_i %>€</h3>
      <p class="text-muted">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta voluptatibus quos ea dolore rem, molestias laudantium et explicabo...
        <a href='#details' class='scroll-to'>More info</a>
      </p>
      <% if user_signed_in? %>
        <div class="row align-items-end pb-4">
          <div class="col-sm-4">
            <div class="form-group mb-0">
              <label for="quantity">Quantity</label>
              <select class="form-control" id="quantity">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="pt-4 hidden-sm-up"></div>
            <button class="btn btn-primary btn-block m-0" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="fe-icon-check-circle" data-toast-title="Product" data-toast-message="successfuly added to cart!">
              <i class="fas fa-cart-arrow-down"></i>Add to Cart
            </button>
          </div>
        </div>
      <% end %>
      <hr class="mb-2">
      <div class="d-flex flex-wrap justify-content-between align-items-center">
        <% if user_signed_in? %>
          <div class="mt-2 mb-2">
            <button class="btn btn-danger btn-sm my-2 mr-1" data-toast data-toast-type="info" data-toast-position="topRight" data-toast-icon="fe-icon-info" data-toast-title="Product" data-toast-message="added to your wishlist!">
              <i class="fas fa-heart"></i>Wishlist
            </button>
          </div>
        <% end %>
        <div class="mt-2 mb-2">
          <span class="text-muted d-inline-block align-middle mb-2">Share:&nbsp;&nbsp;</span>
          <div class="d-inline-block">
            <a class="social-btn sb-style-3 sb-facebook my-1" href="https://www.facebook.com/" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fab fa-facebook-f"></i></a>
            <a class="social-btn sb-style-3 sb-twitter my-1" href="https://twitter.com/login?lang=fr" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fab fa-twitter"></i></a>
            <a class="social-btn sb-style-3 sb-instagram my-1" href="https://www.instagram.com/?hl=fr" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fab fa-instagram"></i></a>
            <a class="social-btn sb-style-3 sb-google-plus my-1 mr-0" href="https://plus.google.com/about?hl=fr" data-toggle="tooltip" data-placement="top" title="Google +"><i class="fab fa-google-plus-g"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Product Details-->
<div class="bg-secondary pt-5 pb-4" id="details">
  <div class="container py-2">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <h3 class="h6">Details</h3>
        <p class="mb-4 pb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <h3 class="h6">Features</h3>
        <p class="mb-4 pb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <h3 class="h6">Specifications</h3>
        <p class="mb-4 pb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <h3 class="h6">Shipping Options:</h3>
        <p class="mb-4 pb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
      </div>
    </div>
  </div>
</div>

<!-- Reviews-->
<div class="container pt-5">
  <div class="row pt-2">
    <div class="col-md-4 pb-5 mb-3">
      <div class="card border-default">
        <div class="card-body">
          <div class="text-center">
            <% countfive = 0 %><% countfour = 0 %><% countthree = 0 %><% counttwo = 0 %><% countone = 0 %><% sumrating = 0 %><% indice = 100/@reviews.length %>
            <% @reviews.each do |review| %>
              <% sumrating += review.rating %>
              <% case review.rating %>
                <% when 5 %>
                  <% countfive +=1 %>
                <% when 4 %>
                  <% countfour +=1 %>
                <% when 3 %>
                  <% countthree +=1 %>
                <% when 2 %>
                  <% counttwo +=1 %>
                <% when 1 %>
                  <% countone +=1 %>
                <% else %>
              <% end %>
            <% end %>
            <% rate = sumrating / @reviews.length %>
            <h4>Note : <%= rate.round %></h4>
            <h5 class='text-muted'>Avis : <%= @reviews.length %></h5>
            <div>
              <div class="rating-stars">
                <% rate.round.times do %>
                  <i class="fas fa-star active"></i>
                <% end %>
                <div class="rating-stars">
                  <% (5 - rate.round).times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                </div>
              </div>
              <div class="pt-3">
                <span class="progress-label">5 stars <span class='text-muted'>- <%= countfive %></span></span>
                <div class="progress progress-style-3 mb-3">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: <%= countfive*indice %>%;" aria-valuenow="<%= countfive*indice %>" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="progress-label">4 stars <span class='text-muted'>- <%= countfour %></span></span>
                <div class="progress progress-style-3 mb-3">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: <%= countfour*indice %>%;;" aria-valuenow="<%= countfour*indice %>" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="progress-label">3 stars <span class='text-muted'>- <%= countthree %></span></span>
                <div class="progress progress-style-3 mb-3">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: <%= countthree*indice %>%;" aria-valuenow="<%= countthree*indice %>" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="progress-label">2 stars <span class='text-muted'>- <%= counttwo %></span></span>
                <div class="progress progress-style-3 mb-3">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: <%= counttwo*indice %>%;" aria-valuenow="<%= counttwo*indice %>" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="progress-label">1 stars <span class='text-muted'>- <%= countone %></span></span>
                <div class="progress progress-style-3 mb-3">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: <%= countone*indice %>%;" aria-valuenow="<%= countone*indice %>" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <!-- Modal -->
              <div class="pt-3">
                <a class="btn btn-warning btn-block" data-toggle="modal" data-target="#leaveReview">Leave a Review</a>
              </div>
              <div class="modal fade" id="leaveReview" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Leave a review!</h4>
                    </div>
                    <div class="modal-body">
                      <!-- A compléter -->
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
    <div class="col-md-8 pb-5 mb-3">
      <div class="d-flex flex-wrap justify-content-between pb-2">
        <h3 class="h4">Latest Reviews</h3><a class="btn btn-primary btn-sm" href="#">View All Reviews</a>
      </div>
      <!-- Review-->
      <div class="blockquote comment mb-4 row">
        <% @reviews.each do |review| %>
          <div class="card-body">  
            <div class="d-flex flex-wrap justify-content-between pb-2">
              <div class="col-9">
                <h6 class="text-lg mb-0"><%= review.title %></h6>
              </div>
              <!-- Stars counter -->
              <div class="col-3">
                <div class="rating-stars" >
                  <% review.rating.times do %>
                    <i class="fas fa-star active"></i>
                  <% end %>
                  <% (5- review.rating).times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="d-flex flex-wrap justify-content-between pb-2">   
              <div class="col-9">
                <%= review.content %>
              </div>
              <div class=" col-3">
                <div class="d-table-cell align-middle pl-2">
                  <div class="blockquote-footer"> 
                    <% @users.each do |user| %>
                      <% if user.id == review.user_id %> 
                        <%= user.username %> 
                      <% end %>
                    <% end %>
                    <cite> <%= review.created_at.strftime("%FT") %></cite>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>