<footer class="bg-dark pt-3 mt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 pb-4"><a class="navbar-brand d-inline-block mb-4" href="<%= root_path %>"><%= image_tag("meow.png") %></a></div>
      <div class="col-lg-9">
        <h2 class="text-white">The Kittens</h2>
        <div class="widget widget-light-skin mb-0">
          <h4 class="widget-title">Useful Links</h4>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="widget widget-categories widget-light-skin">
              <ul>
                <li><a href="<%= about_us_path %>">About Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="widget widget-categories widget-light-skin">
              <ul>
                <li><a href="<%= contacts_path %>">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="widget widget-categories widget-light-skin">
              <ul>
                <li><a href="<%= faq_path%>">FAQ</a></li>
              </ul>
            </div>
          </div>
          <p class="text-sm text-white opacity-50 pl-3">
            Made with love by Guillaume CHRISTE, Gérard GOACHET, Selmen M'HAMDI & Lauren OLIVIER
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>